@charset "UTF-8";

:root{
    --azul: #4169E1;
    --roxo: #5d5888;
    --roxoescuro:#261c3f;
    --verde:#3ca37b;
    --cinza: #3B3B3B;
    --cinzaclaro: #ced1ce;
    --branco: #f0f7ee;    
    --opacidade: #00000025;
    --opacidade-dois: #00000057;
    
    --font-titulo: 'Contrail', Comic Sans MS, cursive;
    --font-destaque: Comic Sans MS, Verdana, Arial;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-link: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

    --sombra: 1px 1px 20px var(--opacidade);
}

::-webkit-scrollbar{ 
    width: 13px;
}

::-webkit-scrollbar-track{
    background: var(--roxo);
}

::-webkit-scrollbar-thumb{
    background: var(--opacidade);
    border-radius: 10px;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

body{
    background: linear-gradient(to right, var(--azul), var(--roxo));
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
}

article > h2{
    margin: 2%;
    font: bolder 40px var(--font-destaque);
    text-shadow: var(--sombra);
    text-align: center;
    color: var(--branco);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: var(--roxoescuro);
    font: normal 20px var(--font-padrao);
    padding: 0 100px;
	border-radius: 40px;
    background-color: var(--branco);
    box-shadow: var(--sombra);
}

section > h2{
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
	color: var(--cinza);
}

section > p{
    margin: 4px;
}

section > p > img{
    border-radius: 30px;
    box-shadow: var(--sombra);
    margin: 20px;
}

section > a{
    margin: 20px;
    font: bolder 26px var(--font-link);
    padding: 15px 100px;
    border-radius: 30px; 
    text-decoration: none;
    color: white;
    background-color: var(--verde);
    border: 2px solid transparent;
    transition: 500ms;
}

section > a:hover{
    background-color: transparent;
    color: black;
    border: 2px solid black;
}

@media (max-width: 600px){
    
    ::-webkit-scrollbar{ 
        width: 0px;
    }

    section{
        font: normal 14px var(--font-padrao);
        margin: 10px;
        padding: 0 30px;
    }

    section > h2{
        font: bolder 23px var(--font-padrao);
    }

    section > a{
        font-size: 23px;
        padding: 8px 60px;
    }

    article > h2{
        margin: 2% 2% 30px 2%;
        font: bolder 30px var(--font-destaque);
    }

    section > p > img{
        width: 200px;
    }
}