<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../../img/logo.png">

        <title>Projeto PHP - Atividade 5</title>
        
        <link rel="stylesheet" type="text/css" href="../../css/style-atividades.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        
        <script src="../../js/script-tres.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous" defer></script>
    </head>
    <body>
        <header>
            <h1>Projeto PHP</h1>
            <button id="botaoNav"><img src="../../img/menu.png" id="imagemBotao" alt="Menu hamburguer"></button>
            <nav id="nav">
                <a href="../pesquisa.html">Pesquisa</a>
                <a href="../variaveis.html">Variaveis</a>
                <a href="../estrutura.html">Estrutura Decisão</a>
                <a href="../integrantes.html">Integrantes</a>
                <a href="../../../index.html" class="inicio">Inicio</a>
            </nav>
        </header>
        <main>
            <article>
                <h2>Calculo lucro:</h2>
            </article>
            <section>
                <button id="botaoTopo"><img src="../../img/seta-cima.png" id="imagemBotaoTopo" alt="Seta para cima"></button>
                <h2 class="cheio entrada-txt">
                    Desenvolva o programa em PHP, mostrando abaixo as perguntas e respostas, com os devidos calculos.
                </h2>
                <pre class="entrada-txt">
                    No formulário deve perguntar por quanto que 
                    compra o brigadeiro na unidade, ele pretende 
                    vender com 150% acima do valor de compra. 
                    Sob o preço de venda, precisa descontar ainda, 
                    o preço de custo, R$ 1,00 de embalagem e R$ 
                    0,50 de custo de entrega.
                    
                    Por quanto ele pretende vender o Brigadeiro?
                    Qual o lucro real obtido?
                </pre>
                <p class="entrada-txt">Exiba na tela o preço que ele pretende vender o brigadeiro e qual o lucro obtido.</p>
                <form id="formulario" name="formulario" method="post" action="../../../controller/calc.lucro.php">
                    <fieldset>
                        <h2>Digite Aqui:</h2>                       
                        <label for="txtValor01">Venda brigadeiro</label>
                        <input type="number" name="txtValor01" id="txtValor01" placeholder="Insira o preço de custo" required/>
                    </fieldset>
                    <div class="botao">
                        <button type="reset" id="limpar">Limpar</button>
                        <button type="submit" id="enviar">Enviar</button>
                    </div>
                </form>
                <a class="voltar" href="../variaveis.html">Voltar</a>
            </section>    
        </main>
        <footer>
            <p>Desenvolvido por Gustavo Sachetto, Myrela e Kauany.</p>
            <a href="https://github.com/GustavoSachetto/Projeto-PHP" target="_blank" class="repositorio">Repositorio do projeto<img src="../../img/repositorio.png" class="github" alt="GitHub"></a>
        </footer>
    </body>
</html>