<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../../img/logo.png">

        <title>Projeto PHP - Atividade 1</title>
        
        <link rel="stylesheet" type="text/css" href="../../css/style-atividades.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        
        <script src="../../js/script-tres.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous" defer></script>
    </head>
    <body>
        <header>
            <h1>Projeto PHP</h1>
            <button id="botaoNav"><img src="../../img/menu.png" id="imagemBotao" alt="Menu hamburguer"></button>
            <nav id="nav">
                <a href="../pesquisa.html">Pesquisa</a>
                <a href="../variaveis.html">Variaveis</a>
                <a href="../estrutura.html">Estrutura Decisão</a>
                <a href="../integrantes.html">Integrantes</a>
                <a href="../../../index.html" class="inicio">Inicio</a>
            </nav>
        </header>
        <main>
            <article>
                <h2>Calculo Media:</h2>
            </article>
            <section>
                <button id="botaoTopo"><img src="../../img/seta-cima.png" id="imagemBotaoTopo" alt="Seta para cima"></button>
                <h2 class="cheio entrada-txt">
                    Crie um algoritmo que leia quatro valores e exiba a media entre eles.
                </h2>
                <p class="entrada-txt">E depois exiba o resuldado na tela.</p>
                <form action="../../../controller/media.php" method="post">
                    <fieldset>
                        <h2>Digite aqui:</h2>                       
                        <label for="txtNota01">Primeira nota:</label>
                        <input type="number" name="txtNota1" id="txtNota1" step="0.1" placeholder="Digite a primeira nota" required/>
                        
                        <label for="txtNota02">Segunda nota:</label>
                        <input type="number" name="txtNota2" id="txtNota2" step="0.1" placeholder="Digite a segunda nota" required/>

                        <label for="txtNota01">Terceira nota:</label>
                        <input type="number" name="txtNota3" id="txtNota3" step="0.1" placeholder="Digite a terceira nota" required/>
                        
                        <label for="txtNota02">Quarta nota:</label>
                        <input type="number" name="txtNota4" id="txtNota4" step="0.1" placeholder="Digite a quarta nota" required/>
                    </fieldset>
                    <div class="botao">
                        <button type="reset" id="limpar">Limpar</button>
                        <button type="submit" id="enviar">Enviar</button>
                    </div>
                </form>
                <a class="voltar" href="../variaveis.html">Voltar</a>

                <h2 class="cheio">Codigo da atividade:</h2>
                <pre class="codigo">
                    <mark class="cor1">&lt;?php</mark>
                    // Conexão com o banco de dados
                    <mark class="cor2">$nota01</mark> = <mark class="cor4">"localhost"</mark>;
                    <mark class="cor2">$nota02</mark>   = <mark class="cor4">"nome-database"</mark>;
                    <mark class="cor2">$user</mark> = <mark class="cor4">"root"</mark>;
                    <mark class="cor2">$pass</mark> = <mark class="cor4">""</mark>;
                    <mark class="cor2">$con</mark> = <mark class="cor3">mysql_connect</mark>(<mark class="cor2">$host,$user,$pass</mark>);
                    <mark class="cor3">if</mark>(<mark class="cor3">mysql_select_db</mark>(<mark class="cor2">$db, $con</mark>)){
                    <mark class="cor3">echo</mark> <mark class="cor4">"conexao bem sucedida"</mark>; //Teste para garantir que há conexão
                    }
                    <mark class="cor3">else</mark>{
                    <mark class="cor3">echo</mark><mark class="cor4">"conexao falhou"</mark>;
                    }
                    <mark class="cor1">?></mark>
                </pre>         
            </section>    
        </main>
        <footer>
            <p>Desenvolvido por Gustavo Sachetto, Myrela e Kauany.</p>
            <a href="https://github.com/GustavoSachetto/Projeto-PHP" target="_blank" class="repositorio">Repositorio do projeto<img src="../../img/repositorio.png" class="github" alt="GitHub"></a>
        </footer>
    </body>
</html>